* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* FONT */

    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;

    /* PRIMARY COLOURS */

    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkDesaturatedCyan: hsl(167, 40%, 24%);
    --darkBlue: hsl(198, 62%, 26%);
    --darkModerateCyan: hsl(168, 34%, 41%);

    /* NEUTRAL */

    --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

/* ---------------------------------------------------------------
----------------------------- MOBILE -----------------------------
---------------------------------------------------------------- */

/* ---------------------------------------------------------------
-------------------------- HERO SECTION --------------------------
---------------------------------------------------------------- */

.hero-background {
    background-image: url('./images/mobile/image-header.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 90vh;
    padding: 8%;
}

.hero-background header {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 35%;
}

.logo-container img {
    max-width: 100%;
}

.hamburger {
    background-image: url('./images/icon-hamburger.svg');
    width: 24px;
    height: 18px;
}

.hamburger.close {
    background-image: url('./images/times-solid.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center;
}

.navigation {
    display: none;
}

.active {
    display: block;
    position: absolute;
    left: 8%;
    top: 13%;
    width: 84%;
    height: 55%;
    z-index: 999;
    background-color: white;
    clip-path: polygon(93% 10%, 100% 0, 100% 100%, 0 100%, 0 10%);
    transition: 2s;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80%;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    font-family: var(--barlow);
    font-weight: 600;
    font-size: 18px;
    color: var(--darkGrayishBlue);
}

.navigation ul .contact-button {
    font-family: var(--fraunces);
    font-weight: 900;
    font-size: 14px;
    color: var(--veryDarkDesaturatedBlue);
    text-transform: uppercase;
    background-color: var(--yellow);
    padding: 15px 25px;
    border-radius: 999px;
}

.hero-section h1 {
    font-family: var(--fraunces);
    font-size: 42px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--white);
    padding: 4rem 0 2rem;
}

.hero-section .arrow-down-container {
    display: flex;
    justify-content: center;
    height: 6rem;
}

.hero-section .arrow-down-container img {
    max-width: 100%;
}

@media (max-width: 374px) {
    .hero-section h1 {
        font-size: 38px;
        letter-spacing: 4px;    
    }
}

/* ----------------------------------------------------------------
-------------------------- GRID SECTION --------------------------
---------------------------------------------------------------- */

.grid-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 400px 300px 400px 600px 600px;
}

.grid-section .image-transform-container {
    background-image: url('./images/mobile/image-transform.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 1 / 1 / 2 / 2;
}

.grid-section .text-transform-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 14% 8%;
    grid-area: 2 / 1 / 3 / 2;
}

.grid-section .text-transform-container h2,
.grid-section .text-stand-out-container h2 {
    font-family: var(--fraunces);
    font-size: 30px;
    font-weight: 900;
    color: var(--veryDarkDesaturatedBlue);
}

.grid-section .text-transform-container p,
.grid-section .text-stand-out-container p {
    font-family: var(--barlow);
    color: var(--darkGrayishBlue);
    font-weight: 600;
    font-size: 17px;
}

.grid-section .text-transform-container a {
    font-family: var(--fraunces);
    font-weight: 900;
    color: var(--veryDarkDesaturatedBlue);
    text-transform: uppercase;
}

.grid-section .text-transform-container a .underline-transform {
    width: 110%;
    height: 10px;
    position: relative;
    top: -8px;
    left: -6.5px;
    z-index: -1;
    border-radius: 999px;
    background-color: hsl(51deg 100% 49% / 47%);
}

.grid-section .image-stand-out-container {
    background-image: url('./images/mobile/image-stand-out.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: 3 / 1 / 4 / 2;
}

.grid-section .text-stand-out-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 14% 8%;
    grid-area: 4 / 1 / 5 / 2;
}

.grid-section .text-stand-out-container a {
    font-family: var(--fraunces);
    font-weight: 900;
    color: var(--veryDarkDesaturatedBlue);
    text-transform: uppercase;
}

.grid-section .text-stand-out-container a .underline-stand-out {
    width: 110%;
    height: 10px;
    position: relative;
    top: -8px;
    left: -6.5px;
    z-index: -1;
    border-radius: 999px;
    background-color: hsl(7deg 99% 70% / 47%);
}

.grid-section .graphic-design-container {
    background-image: url('./images/mobile/image-graphic-design.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 14% 8% 16%;
    grid-area: 5 / 1 / 6 / 2;
}

.grid-section .graphic-design-container h2 {
    font-family: var(--fraunces);
    font-size: 30px;
    font-weight: 900;
    color: var(--darkDesaturatedCyan);
    padding-bottom: 10%;
}

.grid-section .graphic-design-container p {
    font-family: var(--barlow);
    color: var(--darkDesaturatedCyan);
    font-weight: 600;
    font-size: 15px;
}

.grid-section .photography-container {
    background-image: url('./images/mobile/image-photography.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 14% 8% 16%;
    grid-area: 6 / 1 / 7 / 2;
}

.grid-section .photography-container h2 {
    font-family: var(--fraunces);
    font-size: 30px;
    font-weight: 900;
    color: var(--darkBlue);
    padding-bottom: 10%;
}

.grid-section .photography-container p {
    font-family: var(--barlow);
    color: var(--darkBlue);
    font-weight: 600;
    font-size: 15px;
}

/* -----------------------------------------------------------------
----------------------- TESTIMONIALS SECTION -----------------------
----------------------------------------------------------------- */

.testimonials-section {
    padding: 14% 10%;
}

.testimonials-section h2 {
    font-family: var(--fraunces);
    font-size: 16px;
    font-weight: 900;
    color: var(--grayishBlue);
    letter-spacing: 4px;
    text-transform: uppercase;
}

.testimonial-image-container {
    width: 70px;
    margin: 20% auto 10%;
}

.testimonial-image-container img {
    max-width: 100%;
    border-radius: 50%;
}

.testimonial-text {
    font-family: var(--barlow);
    color: var(--veryDarkGrayishBlue);
    font-weight: 500;
    font-size: 17px;
}

.testimonial-name {
    font-family: var(--fraunces);
    font-weight: 900;
    color: var(--veryDarkDesaturatedBlue);
    padding: 10% 0 3%;
}

.testimonial-charge {
    font-family: var(--barlow);
    color: var(--grayishBlue);
    font-weight: 600;
    font-size: 14px;
}

/* ----------------------------------------------------------------
------------------------- GALLERY SECTION -------------------------
---------------------------------------------------------------- */

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    margin-top: 10%;
}

.image-gallery .image-gallery-milkbottles {
    background-image: url('./images/mobile/image-gallery-milkbottles.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-gallery .image-gallery-orange {
    background-image: url('./images/mobile/image-gallery-orange.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-gallery .image-gallery-cone {
    background-image: url('./images/mobile/image-gallery-cone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-gallery .image-gallery-sugarcubes {
    background-image: url('./images/mobile/image-gallery-sugar-cubes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ---------------------------------------------------------------
----------------------------- FOOTER -----------------------------
--------------------------------------------------------------- */

footer {
    background-color: hsl(168deg 31% 64%);
    padding: 16% 10%;
}

footer .footer-logo-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

footer .footer-logo-container svg path {
    fill: var(--darkDesaturatedCyan);
}

footer .footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer-menu li {
    list-style: none;
}

footer .footer-menu li a {
    text-decoration: none;
    font-family: var(--barlow);
    color: var(--darkModerateCyan);
    font-weight: 600;
    font-size: 15px;  
}

footer .social-media-list {
    padding: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .attribution p {
    font-family: var(--barlow);
    color: var(--darkModerateCyan);
    font-weight: 500;
    font-size: 15px;
}

footer .attribution p a {
    color: var(--darkDesaturatedCyan);
}

footer .attribution p a:hover {
    transition: .3s;
    color: var(--white);
}

/* ---------------------------------------------------------------
--------------------------- END MOBILE ---------------------------
---------------------------------------------------------------- */

/* ---------------------------------------------------------------
------------------------- DESKTOP VERSION ------------------------
---------------------------------------------------------------- */

@media screen and (min-width: 960px) {

    /* ---------------------------------------------------------------
    -------------------------- HERO SECTION --------------------------
    ---------------------------------------------------------------- */

    .hero-background {
        background-image: url('./images/desktop/image-header.jpg');
        padding: 4%;
        height: 100vh;
 
    }

    .hero-section .arrow-down-container {
        height: 5.2rem;
        margin-top: 2%;
    }

    .menu {
        width: 35%;
    }

    #hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .active {
        display: none;
    }

    .navigation ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .navigation ul li a {
        font-family: var(--barlow);
        font-weight: 500;
        font-size: 15px;
        color: var(--white);
    }

    .navigation ul .contact-button {
        font-family: var(--fraunces);
        font-weight: 900;
        font-size: 14px;
        color: var(--veryDarkDesaturatedBlue);
        text-transform: uppercase;
        background-color: var(--white);
        padding: 10px 20px;
        border-radius: 999px;
        transition: .2s;
    }

    .navigation ul .contact-button:hover {
        color: var(--white);
        background-color: rgba(255, 255, 255, 0.384);
    }

    /* ----------------------------------------------------------------
    -------------------------- GRID SECTION --------------------------
    ---------------------------------------------------------------- */

    .grid-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 500px);
    }

    .grid-section .image-transform-container {
        background-image: url('./images/desktop/image-transform.jpg');
        grid-area: 1 / 2 / 2 / 3;
    }

    .grid-section .text-transform-container {
        align-items: flex-start;
        grid-area: 1 / 1 / 2 / 2;
        padding: 18% 12% 18% 24%;
    }

    .grid-section .text-transform-container a:hover .underline-transform {
        background-color: var(--yellow);
        transition: 3s;
    }

    .grid-section .image-stand-out-container {
        background-image: url('./images/desktop/image-stand-out.jpg');
        grid-area: 2 / 1 / 3 / 2;
    }

    .grid-section .text-stand-out-container {
        align-items: flex-start;
        grid-area: 2 / 2 / 3 / 3;
        padding: 18% 25% 18% 12%;
    }

    .grid-section .text-stand-out-container a:hover .underline-stand-out {
        background-color: var(--softRed);
        transition: 3s;
    }

    .grid-section .graphic-design-container {
        background-image: url('./images/desktop/image-graphic-design.jpg');
        grid-area: 3 / 1 / 4 / 2;
        padding: 8% 25%;
    }

    .grid-section .photography-container {
        background-image: url('./images/desktop/image-photography.jpg');
        grid-area: 3 / 2 / 4 / -1;
        padding: 8% 25%;
    }

    .grid-section .graphic-design-container h2,
    .grid-section .photography-container h2 {
        padding-bottom: 6%;
    }

    .grid-section .text-transform-container h2,
    .grid-section .text-stand-out-container h2 {
        text-align: left;
        font-size: 36px;
        padding-right: 5%;
    }

    .grid-section .text-transform-container p,
    .grid-section .text-stand-out-container p {
        text-align: left;
    }

    .grid-section .text-transform-container a,
    .grid-section .text-stand-out-container a {
        font-size: 16px;
    }

    /* -----------------------------------------------------------------
    ----------------------- TESTIMONIALS SECTION -----------------------
    ----------------------------------------------------------------- */
    
    .testimonials-section {
        padding: 12% 10%;
    }

    .testimonials-section h2 {
        font-size: 20px;
    }

    .testimonials-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .testimonial-text {
        padding: 0 4%;
    }

    /* ----------------------------------------------------------------
    ------------------------- GALLERY SECTION -------------------------
    ---------------------------------------------------------------- */

    .image-gallery {
        margin-top: 0;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 450px;
    }

    .image-gallery .image-gallery-milkbottles {
        background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
    }
    
    .image-gallery .image-gallery-orange {
        background-image: url('./images/desktop/image-gallery-orange.jpg');
    }

    .image-gallery .image-gallery-cone {
        background-image: url('./images/desktop/image-gallery-cone.jpg');
    }

    .image-gallery .image-gallery-sugarcubes {
        background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
    }

    /* ---------------------------------------------------------------
    ----------------------------- FOOTER -----------------------------
    --------------------------------------------------------------- */

    footer {
        padding: 6% 39%;
    }

    footer .footer-logo-container {
        padding-bottom: 10%;
    }

    footer .social-media-list {
        padding: 20% 22%;
    }

    footer .social-media-list a svg path:hover {
        fill: var(--white);
        transition: .2s;
    }

    footer .footer-menu li a:hover {
        color: var(--white);
        transition: .2s;
    }

    footer .attribution p {
        padding-bottom: 2%;
    }
}

/* ---------------------------------------------------------------
--------------------------- END DESKTOP --------------------------
---------------------------------------------------------------- */